.sectionform{
    background-color: whitesmoke;
    padding: 0.625rem;
    margin-bottom: 1.875rem;
}
.sectionform .form :is(input, textarea){
    display: block;
    padding:0.625rem;
    margin-bottom: 0.625rem;
    width: 100%;
}
.sectionform .form button{
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
}