<section class="blog">
  <section class="sectionform">
    <div class="form">
      <input type="text" placeholder="Introduce el título de la noticia" />
      <input type="text" placeholder="Introduce el autor de la noticia" />
      <input type="date" placeholder="Introduce la fecha" />
      <input type="text" placeholder="Introduce la URL de la imagen" />
      <textarea name="" id="" rows="10"> </textarea>
      <button>Enviar</button>
    </div>
  </section>
  <h2>Mis viajes Preferidos</h2>
  <hr />

<!--  <div class="grid" [innerHTML]="getData()">-->
  <div class="grid">
    @for(post of arrPost; track post.id){
    <article>
      <figure>
        <img [src]="post.url" [alt]="post.title" />
      </figure>
      <h3>{{ post.title }}</h3>
      <p>Autor: {{ post.author }}</p>
      <p>Fecha: {{ post.date | date:'dd/MM/YY'}}</p>
      <div class="content">
        <p [innerHTML]="post.body">
          
        </p>
      </div>
    </article>
  }
  <!--
    <article>
      <figure>
        <img
          src="https://h2.gifposter.com/bingImages/CreteHarbor_1920x1080.jpg"
        />
      </figure>
      <h3>Viaje a la isla de creta</h3>
      <p>Autor: José Luis Jiménez</p>
      <p>Fecha:25/02/2025</p>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro magni
          at laboriosam voluptatum libero, provident modi exercitationem
          corporis nostrum, amet enim ipsum dolores voluptas, inventore quod
          deleniti asperiores explicabo a?
        </p>
      </div>
    </article>
    <article>
      <figure>
        <img
          src="https://h2.gifposter.com/bingImages/CreteHarbor_1920x1080.jpg"
        />
      </figure>
      <h3>Viaje a la isla de creta</h3>
      <p>Autor: José Luis Jiménez</p>
      <p>Fecha:25/02/2025</p>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro magni
          at laboriosam voluptatum libero, provident modi exercitationem
          corporis nostrum, amet enim ipsum dolores voluptas, inventore quod
          deleniti asperiores explicabo a?
        </p>
      </div>
    </article>
    <article>
      <figure>
        <img
          src="https://h2.gifposter.com/bingImages/CreteHarbor_1920x1080.jpg"
        />
      </figure>
      <h3>Viaje a la isla de creta</h3>
      <p>Autor: José Luis Jiménez</p>
      <p>Fecha:25/02/2025</p>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro magni
          at laboriosam voluptatum libero, provident modi exercitationem
          corporis nostrum, amet enim ipsum dolores voluptas, inventore quod
          deleniti asperiores explicabo a?
        </p>
      </div>
    </article>
    -->
  </div>
</section>
